:root {
  /*Light theme*/
  --light-text: #202020;
  --light-bg: hsl(192, 26%, 96%);
  --light-theme: #21c2f8;
  --light-hover: hsl(195, 94%, 35%);
  --light-answer-block: hsl(192, 26%, 91%);
  --light-switch-shadow: #373d4e;
  --light-switch-icon: "🌒";
  --light-switch-text: "dark mode?";
  /*Dark theme*/
  --dark-text: #F3F3F3;
  --dark-bg: hsl(220, 7%, 17%);
  --dark-theme: #3bbfc3;
  --dark-hover: #018185;
  --dark-answer-block: hsl(220, 7%, 22%);

  --dark-switch-shadow: #fce477;
  --dark-switch-icon: "🌔";
  /*Default theme*/
  --text-color: var(--light-text);
  --bg-color: var(--light-bg);
  --theme-color: var(--light-theme);
  --wrong-answer: #e54568;
  --hover-color: var(--light-hover);
  --answer-block: var(--light-answer-block);
  --switch-shadow-color: var(--light-switch-shadow);
  --switch-icon: var(--light-switch-icon);
  --switch-text: var(--light-switch-text);
  font-size: 10px;

  /*Desktop-Font-Sizes*/
  --normal-font-size-b: 2.5rem;
  --normal-font-size-h: 2rem;
  --normal-font-size-n: 1.8rem;
  --normal-font-size-s: 1.5rem;
  --normal-font-size-vs: 1.3rem;
  /*Tablet-Font-Size*/
  --tablet-font-size-b: 2.3rem;
  --tablet-font-size-h: 1.8rem;
  --tablet-font-size-n: 1.6rem;
  --tablet-font-size-s: 1.4rem;
  --tablet-font-size-vs: 1.2rem;
  /*Mobile-Font-Size*/
  --mobile-font-size-b: 2rem;
  --mobile-font-size-h: 1.7rem;
  --mobile-font-size-n: 1.4rem;
  --mobile-font-size-s: 1.3rem;
  --mobile-font-size-vs: 1.1rem;
  /*Default-Font-Size*/
  --font-size-b: var(--normal-font-size-b);
  --font-size-h: var(--normal-font-size-h);
  --font-size-n: var(--normal-font-size-n);
  --font-size-s: var(--normal-font-size-s);
  --font-size-vs: var(--normal-font-size-vs);
  /*Margins*/
  --default-margin: 2rem 4rem;
  --ul-margin: 2rem;
}

.theme-switch {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.theme-switch:checked~#page {
  --text-color: var(--dark-text);
  --bg-color: var(--dark-bg);
  --theme-color: var(--dark-theme);
  --hover-color: var(--dark-hover);
  --answer-block: var(--dark-answer-block);
  --switch-shadow-color: var(--dark-switch-shadow);
  --switch-icon: var(--dark-switch-icon);
  --switch-text: var(--dark-switch-text);
}

.switch-label::before {
  content: var(--switch-icon);
  /* font-size: var(--normal-font-size-b); */
  transition: text-shadow .2s;
}


.switch-label:hover::before {
  text-shadow: 0 0 15px var(--switch-shadow-color);
  cursor: pointer;
}

.switch-label:focus {
  text-shadow: 0 0 15px var(--switch-shadow-color);
}

#page {
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  height: 100%;
  transition: background-color 0.25s, color 0.25s;
}

header {
  position: sticky;
  top: -1px;
  background-color: var(--bg-color);
  padding: 1vw 3vw;
  box-shadow: 0px 1px 8px black;
  z-index: 10;
  transition: background-color 0.25s, color 0.25s;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-h);
}

h1 {
  text-transform: uppercase;
  font-size: var(--font-size-b);
  margin: 0;
}

ul {
  padding-inline-start: 0;
}


.logo {
  text-decoration-line: none;
  color: var(--text-color);
}

.logo:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size-n);
}

.main-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 0 5vw;
  padding: 5vh 10vw 5vh;
  height: 100%;
}

.one-line {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  max-width: 100%;
  width: 100%;
  gap: 15px;
}

select {
  font-size: var(--font-size-n);
  border-radius: 3px;
  padding: 1rem 1rem;
  width: 100%;
  border: 1px solid var(--text-color);
}

select:hover {
  border-color: var(--theme-color);
}

select:focus {
  outline: 0.1em solid var(--theme-color);
  box-shadow: 0 0 0.1em var(--theme-color);
}

input {
  vertical-align: top;
  outline: none;
  padding: 1rem 1rem;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  font-size: var(--font-size-n);
  border-radius: 3px;
}

input:focus {
  outline: 0.1em solid var(--theme-color);
  box-shadow: 0 0 0.1em var(--theme-color);
}

input[type="submit"] {
  color: var(--bg-color);
  background-color: var(--theme-color);
  border-style: none;
}

input[type="submit"]:hover {
  background-color: var(--hover-color);
  transition: background-color 0.5s;
}

.link {
  color: var(--theme-color);
  text-decoration-line: none;
}

.link:hover {
  color: var(--hover-color);
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

.difficult-ul {
  margin: var(--ul-margin);
  padding-bottom: 1vw;
}

.difficult-ul>li {
  list-style-type: disc;
}

.important-info {
  font-size: var(--font-size-s);
}

.buttons-line {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 5vh;
  width: 100%;
  max-width: 300px;
}

.answer-button {
  font-size: var(--font-size-h);
  color: var(--bg-color);
  background-color: var(--theme-color);
  padding: 1rem;
  border-radius: 3px;
  border-style: none;
}

.answer-button:hover {
  background-color: var(--hover-color);
  transition: background-color 0.5s;
}

.game-block {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-b);
}

.result-block {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  font-size: var(--font-size-n);
}

.result-question {
  background-color: var(--theme-color);
  padding: 1rem;
  margin: 0;
  color: var(--bg-color);
  border-radius: 3px;
}

.wrong-result-question {
  background-color: var(--wrong-answer);
  padding: 1rem;
  margin: 0;
  color: var(--bg-color);
  border-radius: 3px;
}

.result-answer {
  padding: 1rem;
  margin: 0;
  margin-top: 1vh;
  color: var(--text-color);

}

.answer-block {
  background-color: var(--answer-block);
  width: 100%;
  margin: 1vh 0;
  border-radius: 10px;
  padding: 1vh;
}

.row-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-between;
  gap: 2vw;
}

@media (max-width: 1280px) {
  :root {
    --font-size-b: var(--tablet-font-size-b);
    --font-size-h: var(--tablet-font-size-h);
    --font-size-n: var(--tablet-font-size-n);
    --font-size-s: var(--tablet-font-size-s);
    --font-size-vs: var(--tablet-font-size-vs);
  }
}

@media (max-width: 806px) {
  :root {
    --font-size-b: var(--mobile-font-size-b);
    --font-size-h: var(--mobile-font-size-h);
    --font-size-n: var(--mobile-font-size-n);
    --font-size-s: var(--mobile-font-size-s);
    --font-size-vs: var(--mobile-font-size-vs);
  }
}

@media (max-width: 350px) {
  header {
    padding: 4vw;
  }
}